.p {
  padding: 24px;
}
.full {
  width: 100%;
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 12px;
}
form {
  display: grid;
  gap: 14px;
  max-width: 700px;
}