<div class="page">
  <div class="card">
    <h2>Connexion</h2>
    <p class="sub">Connecte-toi pour accéder à l’app</p>

    <form [formGroup]="form" (ngSubmit)="submit()" autocomplete="off">
      <div class="field">
        <label>Nom d’utilisateur</label>
        <input
          type="text"
          formControlName="username"
          placeholder="Entrer votre username"
          autocomplete="off"
          spellcheck="false"
        />
        <p *ngIf="form.get('username')?.touched && form.get('username')?.invalid" class="err">
          Nom d'utilisateur obligatoire
        </p>
      </div>

      <div class="field">
        <label>Mot de passe</label>
        <input
          type="password"
          formControlName="password"
          placeholder="Entrer votre mot de passe"
          autocomplete="new-password"
        />
        <p *ngIf="form.get('password')?.touched && form.get('password')?.invalid" class="err">
          Mot de passe obligatoire
        </p>
      </div>

      <button type="submit" [disabled]="form.invalid || loading">
        {{ loading ? 'Connexion...' : 'Connexion' }}
      </button>

      <p *ngIf="errorMsg" class="errCenter">{{ errorMsg }}</p>
    </form>
  </div>
</div>
