<div class="page">
  <div class="card">
    <h2>{{ 'LOGIN.TITLE' | translate }}</h2>
    <p class="sub">{{ 'LOGIN.SUBTITLE' | translate }}</p>

    <form [formGroup]="form" (ngSubmit)="submit()" autocomplete="off">
      <div class="field">
        <label>{{ 'LOGIN.USERNAME' | translate }}</label>
        <input
          type="text"
          formControlName="username"
          [placeholder]="'LOGIN.USERNAME_PLACEHOLDER' | translate"
          autocomplete="off"
          spellcheck="false"
        />
        <p *ngIf="form.get('username')?.touched && form.get('username')?.invalid" class="err">
          {{ 'LOGIN.USERNAME_REQUIRED' | translate }}
        </p>
      </div>

      <div class="field">
        <label>{{ 'LOGIN.PASSWORD' | translate }}</label>
        <input
          type="password"
          formControlName="password"
          [placeholder]="'LOGIN.PASSWORD_PLACEHOLDER' | translate"
          autocomplete="new-password"
        />
        <p *ngIf="form.get('password')?.touched && form.get('password')?.invalid" class="err">
          {{ 'LOGIN.PASSWORD_REQUIRED' | translate }}
        </p>
      </div>

      <button type="submit" [disabled]="form.invalid || loading">
        {{ loading ? ('LOGIN.LOADING' | translate) : ('LOGIN.SUBMIT' | translate) }}
      </button>

      <p *ngIf="errorMsg" class="errCenter">{{ errorMsg | translate }}</p>
    </form>
  </div>
</div>