@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  height: 100%;
  margin: 0;

  color-scheme: light;

  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}

body.dark-theme {
  color-scheme: dark;

  background-color: #121212;
  color: #ffffff;
}

body.dark-theme .mat-drawer-container,
body.dark-theme .mat-sidenav-container,
body.dark-theme .mat-sidenav-content {
  background-color: #121212;
  color: #ffffff;
}